.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  small {
    color: red;
  }
  
  button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  